 /* Body styling */
 body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container styling */
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Header styling */
h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 2px solid #28a745;
    padding-bottom: 10px;
}

/* Button styling */
button {
    font-size: 20px;
    color: white;
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #218838;
}

/* List styling */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    color: #555;
    font-size: 18px;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Countdown and progress bar container */
.countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Countdown styling */
#countdown {
    font-size: 24px;
    color: #00ff00;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 120px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Progress bar styling */
.progress-bar {
    width: 200px;
    height: 24px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.progress {
    height: 100%;
    background-color: #28a745;
    width: 100%;
    transition: width 1s linear;
}